body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #dc3f06;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid white;
}

.navbar h1 {
  font-size: 1.5rem;
}

.hero {
  text-align: center;
  padding: 2rem;
}

.trending .tags span {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.blog-topics ul {
  list-style: none;
  padding: 0;
}

.blog-topics li {
  margin: 0.5rem 0;
}

.posts article {
  margin-bottom: 1.5rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: white;
}
button{
  background-color: white;
}

a{
  color: black;
}